

 <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Feed Back</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="~/asset/images/gamehublogo.png" />
    <link rel="stylesheet" type="text/css" media="screen" href="~/asset/feedback/style/feed-back.css" />
</head>
<body>
    <div class="wrapper">
        <div class="contact-form">
            <div class="contact-tittle">
                <h1>Contact Us</h1>
                <a>Got a question? We'd love to hear from you</a>
            </div>
            <form id="contact-form" method="post" action="#">
                <input name="name" type="text" class="form-control" placeholder="Your Name" required>
                <input name="email" type="email" class="form-control" placeholder="Email address" required>
                <textarea name="message" class="form-control" placeholder="Message" rows="4" required></textarea>
                <input type="submit" class="form-control submit" value="SEND MESSAGE">
            </form>
        </div>
    </div>
</body>
</html>
