
@{
    ViewBag.Title = "CardInfo";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<link rel="stylesheet" type="text/css" media="screen" href="~/Asset/admin/style/edit-style.css" />

<script src="~/Asset/admin/script/noti.js"></script>
<body>
    <!--Body-->
    <div class="body">
        <div class="wrapper">
            <div class="title-top">Card editor</div>
            <div class="edit-line">
                <div class="keyword">Picture</div>
                <div class="details">
                    <img src="http://weddingdiscjockeys.co/wp-content/uploads/2018/07/steam-card-delivery-review-gift-cards.jpg">
                </div>
                <div class="edit-btn">edit</div>
                <div class="edit-bar"><input type="file" accept="image/png, image/jpeg"></input></div>
            </div>
            <div class="edit-line">
                <div class="keyword">ID</div>
                <div class="details">A0060</div>
                <div class="edit-btn">edit</div>
                <div class="edit-bar"><input type="text"></input></div>
            </div>
            <div class="edit-line">
                <div class="keyword">Value</div>
                <div class="details">$10.00</div>
                <div class="edit-btn">edit</div>
                <div class="edit-bar"><input type="text"></input></div>
            </div>
            <div class="edit-line">
                <div class="keyword">Publisher</div>
                <div class="details">Steam</div>
                <div class="edit-btn">edit</div>
                <div class="edit-bar"><input type="text"></input></div>
            </div>
            <div class="edit-line">
                <div class="keyword">Code</div>
                <div class="details">9525 4632 2568</div>
                <div class="edit-btn">edit</div>
                <div class="edit-bar"><input type="text"></input></div>
            </div>
            <div class="edit-line">
                <div class="keyword">Serial</div>
                <div class="details">92567426783</div>
                <div class="edit-btn">edit</div>
                <div class="edit-bar"><input type="text"></input></div>
            </div>
            <div class="edit-line">
                <div class="keyword">Validate</div>
                <div class="details">31/12/2019</div>
                <div class="edit-btn">edit</div>
                <div class="edit-bar"><input type="text"></input></div>
            </div>
            <div class="edit-line">
                <div class="keyword">Quantity</div>
                <div class="details">15</div>
                <div class="edit-btn">edit</div>
                <div class="edit-bar"><input type="text"></input></div>
            </div>
            <div class="edit-line">
                <div class="keyword">Price</div>
                <div class="details">$9.95</div>
                <div class="edit-btn">edit</div>
                <div class="edit-bar"><input type="text" /></input> </div>
            </div>
            <div class="button-wrapper">
                <div class="button">Save</div>
                <a href="~/Asset/admin/list/cards-list.html"> <div class="button grey">Cancel</div></a>
            </div>
        </div>
    </div>
</body>

