
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" type="text/css" media="screen" href="~/Asset/product/style/style.css" />
<script src="~/Asset/product/script/product-img-wrapper.js"></script>
<script src="~/Asset/product/script/description.js"></script>
<script src="~/Asset/product/script/add-to-cart.js"></script>
<!--Body-->
<div class="body">
    <!--Product Image-->
    <div class="product-img-wrapper">
        <div class="recent-img">
            <img src="https://images.alphacoders.com/923/923541.jpg">
        </div>
        <div class="img-wrapper">
            <img class="active" src="https://images8.alphacoders.com/923/923535.jpg">
            <img src="https://images8.alphacoders.com/923/923539.jpg">
            <img src="https://images7.alphacoders.com/923/923536.jpg">
            <img src="https://images2.alphacoders.com/923/923534.jpg">
        </div>
    </div>
    <!--Product Name-->
    <div class="product-name">World War 3</div>
    <div class="right-hand-side-wrapper">
        <!--Right Hand Side Elements (Desktop)-->
        <!--Product Genre-->
        <div class="product-genre">
            Genre:
            <a class="small-btn" href="#">Action</a>
        </div>
        <!--Product Supported Platform-->
        <div class="product-genre">
            Platform:
            <a class="pretty-anchor" href="#"><i class="fa fa-steam"></i></a>
        </div>
        <!--Product Price-->
        <div class="product-price"><i class="fa fa-certificate"></i> 14.19$</div>

        <!--Shopping Button-->
        <div class="btn-wrapper">
            <a href="../shopping-cart/shopping-cart.html" class="purple-btn">Buy Now</a>
            <a href="#" class="purple-btn">Add To Cart</a>
        </div>
    </div>
    <div class="product-description">
        <!--Product Details-->
        <div class="product-description-wrapper">
            <div class="title">Details</div>
            <div class="description">
                <div>
                    <ul>
                        <li>none</li>
                    </ul>
                </div>
            </div>
        </div>
        <!--Product Description-->
        <div class="product-description-wrapper">
            <div class="title">Description</div>
            <div class="description">
                <div>
                    <ul>
                        <li>none</li>
                    </ul>
                </div>
            </div>
        </div>
        <!--Product System Requirement-->
        <div class="product-description-wrapper">
            <div class="title"><i class="fa fa-desktop"></i> System Requirement</div>
            <div class="description">
                <div>
                    <ul>
                        <li>OS: Windows 7/Vista/XP</li>
                        <li>Processor: Intel Core Duo 6600  hoặc AMD Phenom X3 8750</li>
                        <li>Memory: 2 GB RAM</li>
                        <li>Graphics: NVIDIA 9800 GT 1GB / AMD HD 4870 1GB (DX 10, 10.1, 11)</li>
                        <li>Storage: 15 GB available space</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--Related Products-->
    <div id="related-product-title" class="title"><i class="fa fa-share"></i> Related Products</div>
    <div class="related-product-wrapper">
        <div class="related-product-container">
            <a class="related-product pretty-anchor" href="GTA_IV.html">
                <img src="~/Asset/product/images/gta-iv.jpg">
                <div class="related-product-name">Grand Theft Auto IV </div>
                <div class="related-product-price">19.99$<sup></sup></div>
            </a>
            <a class="related-product pretty-anchor" href="GTA_V.html">
                <img src="~/Asset/product/images/cc.jpg">
                <div class="related-product-name">Grand Theft Auto V</div>
                <div class="related-product-price">29.99$<sup></sup></div>
            </a>
            <a class="related-product pretty-anchor" href="PlayerUnknown's Battlegrounds.html">
                <img src="~/Asset/product/images/pubg.jpg">
                <div class="related-product-name">PlayerUnknown's Battlegrounds</div>
                <div class="related-product-price">14.62$<sup></sup></div>
            </a>
            <a class="related-product pretty-anchor" href="Overwatch.html">
                <img src="https://images5.alphacoders.com/690/690653.png">
                <div class="related-product-name">Overwatch</div>
                <div class="related-product-price">39.99$<sup></sup></div>
            </a>
        </div>
    </div>
    <div class="related-product-card-container">
        <a class="product-card" href="GTA_IV.html">
            <img src="~/Asset/product/images/rsz_12gta-iv.jpg">
            <div class="content-product-name">Grand Theft Auto IV</div>
            <div class="content-product-price">19.99$ <sup></sup></div>
        </a>
        <a class="product-card" href="GTA_V.html">
            <img src="~/Asset/product/images/gtav.jpg">
            <div class="content-product-name">Grand Theft Auto V</div>
            <div class="content-product-price">29.99$ <sup></sup></div>
        </a>
        <a class="product-card" href="PlayerUnknown's Battlegrounds.html">
            <img src="~/Asset/product/images/rsz_pubg.jpg">
            <div class="content-product-name">PlayerUnknown's Battlegrounds</div>
            <div class="content-product-price">14.62$ <sup></sup></div>
        </a>
        <a class="product-card" href="Overwatch.html">

            <img src="~/Asset/product/images/awo.jpg" />
            <div class="content-product-name">Overwatch</div>
            <div class="content-product-price">39.99$ <sup></sup></div>
        </a>
    </div>
</div>