
@{
    ViewBag.Title = "Origin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="body">
    <div class="title-cate">
        <img src="Images/origin-icon.png">
        Origin Games
    </div>

    <div class="list-wrapper">
        <a class="list" href="../product/A Way Out.html">
            <div class="pic"><img src="Images/tải xuống.jpg"></div>
            <div class="info">
                <div class="pro-name">A Way Out</div>
                <div class="pro-price">$34.90$</div>
            </div>
            <div class="buy-now-btn"><img src="Images/e3.png"> VIEW MORE</div>
        </a>
    </div>
    <div class="list-wrapper">
        <a class="list" href="../product/Battlefield 1.html">
            <div class="pic"><img src="Images/bt1.jpg"></div>
            <div class="info">
                <div class="pro-name">Battlefield 1</div>
                <div class="pro-price">12.59$</div>
            </div>
            <div class="buy-now-btn"><img src="Images/e3.png"> VIEW MORE</div>
        </a>
    </div>
    <div class="list-wrapper">
        <a class="list" href="../product/Battlefield V.html">
            <div class="pic"><img src="../product/images/btV.jpg"></div>
            <div class="info">
                <div class="pro-name">Battlefield V</div>
                <div class="pro-price">59.99$</div>
            </div>
            <div class="buy-now-btn"><img src="Images/e3.png"> VIEW MORE</div>
        </a>
    </div>
    <div class="list-wrapper">
        <a class="list" href="../product/Titanfall™ 2.html">
            <div class="pic"><img src="Images/tf2.jpg"></div>
            <div class="info">
                <div class="pro-name">Titanfall™ 2</div>
                <div class="pro-price">34.90$</div>
            </div>
            <div class="buy-now-btn"><img src="Images/e3.png"> VIEW MORE</div>

        </a>
    </div>
    <div class="list-wrapper">
        <a class="list" href="../product/STAR WARS™ Battlefront™ II ( Origin ).html">
            <div class="pic"><img src="Images/sw.jpg"></div>
            <div class="info">
                <div class="pro-name">STAR WARS™ Battlefront™ II ( Origin )</div>
                <div class="pro-price">34.90$</div>
            </div>
            <div class="buy-now-btn"><img src="Images/e3.png"> VIEW MORE</div>
        </a>
    </div>
    <div class="bottom-cate">
        <a href="#" class="button">PRE PAGE</a>
        <a href="#" class="button">NEXT PAGE</a>
    </div>
</div>
