
@{
    ViewBag.Title = "Popular";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="body">
    <div class="title-cate">
        <i class="fa fa-fire" aria-hidden="true"></i>
        Popular Games
    </div>
    <div class="list-wrapper">
        <a class="list" href="../product/GTA_V.html">
            <div class="pic"><img src="https://vnreview.vn/image/77/90/779059.jpg"></div>
            <div class="info">
                <div class="pro-name">Grand Theft Auto V</div>
                <div class="pro-price">$39.90$</div>
            </div>
            <div class="buy-now-btn"><img src="Images/e3.png"> VIEW MORE</div>
        </a>
    </div>
    <div class="list-wrapper">
        <a class="list" href="../product/Overwatch.html">
            <div class="pic"><img src="../product/images/ow.jpg"></div>
            <div class="info">
                <div class="pro-name">Battlefield 1</div>
                <div class="pro-price">39.99$</div>
            </div>
            <div class="buy-now-btn"><img src="Images/e3.png"> VIEW MORE</div>
        </a>
    </div>
    <div class="list-wrapper">
        <a class="list" href="../product/Minecraft.html">
            <div class="pic"><img src="https://is5-ssl.mzstatic.com/image/thumb/Purple118/v4/fb/f6/31/fbf6313d-c17c-6c1b-d992-513d42cd8d5e/AppIcon-1x_U007emarketing-85-220-8.png/246x0w.jpg"></div>
            <div class="info">
                <div class="pro-name">Minecraft</div>
                <div class="pro-price">26.99$</div>
            </div>
            <div class="buy-now-btn"><img src="Images/e3.png"> VIEW MORE</div>
        </a>
    </div>
    <div class="list-wrapper">
        <a class="list" href="../product/Counter-Strike Global Offensive.html">
            <div class="pic"><img src="https://production-gameflipusercontent.fingershock.com/us-east-1:3fb8ba2e-587c-4174-befe-4249b9780065/a4d6e759-3c75-40e9-bfb4-3ed3f3f04a32/fd5d4246-04d6-4e41-bb22-8a0cd1125bab"></div>
            <div class="info">
                <div class="pro-name">Counter Strike: Global Offensive</div>
                <div class="pro-price">14.99$</div>
            </div>
            <div class="buy-now-btn"><img src="Images/e3.png"> VIEW MORE</div>

        </a>
    </div>
    <div class="list-wrapper">
        <a class="list" href="../product/PlayerUnknown's Battlegrounds.html">
            <div class="pic"><img src="https://images.g2a.com/newlayout/323x433/1x1x0/0017f67ada95/59e60aeaae653a34fe0e9633"></div>
            <div class="info">
                <div class="pro-name">Player Unknown's Battleground</div>
                <div class="pro-price">29.99$</div>
            </div>
            <div class="buy-now-btn"><img src="Images/e3.png"> VIEW MORE</div>
        </a>
    </div>
    <div class="bottom-cate">
        <a href="#" class="button">PRE PAGE</a>
        <a href="#" class="button">NEXT PAGE</a>
    </div>
</div>

