
@{
    ViewBag.Title = "Preoder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="body">
    <div class="title-cate">
        <i class="fa fa-money" aria-hidden="true"></i>
        Pre-Order Games
    </div>
    <div class="list-wrapper">
        <a class="list" href="../product/Battlefield V.html">
            <div class="pic"><img src="https://upload.wikimedia.org/wikipedia/en/thumb/f/f0/Battlefield_V_standard_edition_box_art.jpg/220px-Battlefield_V_standard_edition_box_art.jpg"></div>
            <div class="info">
                <div class="pro-name">Battlefield V</div>
                <div class="pro-price">$59.99$</div>
            </div>
            <div class="buy-now-btn"><img src="Images/e3.png"> VIEW MORE</div>
        </a>
    </div>
    <div class="list-wrapper">
        <a class="list" href="../product/Fallout 76.html">
            <div class="pic"><img src="https://upload.wikimedia.org/wikipedia/en/0/06/Fallout_76_cover.jpg"></div>
            <div class="info">
                <div class="pro-name">Fallout 76</div>
                <div class="pro-price">59.99$</div>
            </div>
            <div class="buy-now-btn"><img src="Images/e3.png"> VIEW MORE</div>
        </a>
    </div>
    <div class="list-wrapper">
        <a class="list" href="../product/Football Manager 2019.html">
            <div class="pic"><img src="https://www.hrkgame.com/media/screens/football-manager-2019/.thumbnails/fm-2019.png/fm-2019-800x500.png"></div>
            <div class="info">
                <div class="pro-name">Football Manager 2019</div>
                <div class="pro-price">59.99$</div>
            </div>
            <div class="buy-now-btn"><img src="Images/e3.png"> VIEW MORE</div>
        </a>
    </div>
    <div class="list-wrapper">
        <a class="list" href="../product/Darksider III.html">
            <div class="pic"><img src="https://images-eds-ssl.xboxlive.com/image?url=8Oaj9Ryq1G1_p3lLnXlsaZgGzAie6Mnu24_PawYuDYIoH77pJ.X5Z.MqQPibUVTcBt4jjjxlFRprQztYPYHqvgetf8EyCDOwB4j6Yv0ax5ynnNKBm3DXsypzr2Zqir7N387rEumUVmJZjAOTtIzN5CdIAnlXB9IPjGVtLkJW8e55dIm8ic99MHJA4PNgyriR6w7ipXu0CB0C9eZP44zcAn6yaAtM4q0nXEDYH3sfJJ8-&h=1080&w=1920&format=jpg"></div>
            <div class="info">
                <div class="pro-name">Darksider III</div>
                <div class="pro-price">39.99$</div>
            </div>
            <div class="buy-now-btn"><img src="Images/e3.png"> VIEW MORE</div>

        </a>
    </div>
    <div class="list-wrapper">
        <a class="list" href="../product/Just Cause 4 .html">
            <div class="pic"><img src="https://store.playstation.com/store/api/chihiro/00_09_000/container/CA/en/999/UP0082-CUSA09254_00-JC40000000000000/1543360394000/image?w=240&h=240&bg_color=000000&opacity=100&_version=00_09_000"></div>
            <div class="info">
                <div class="pro-name">Just Cause 4</div>
                <div class="pro-price">49.99$</div>
            </div>
            <div class="buy-now-btn"><img src="Images/e3.png"> VIEW MORE</div>
        </a>
    </div>
    <div class="bottom-cate">
        <a href="#" class="button">PRE PAGE</a>
        <a href="#" class="button">NEXT PAGE</a>
    </div>
</div>

