
@{
    ViewBag.Title = "ShoppingCart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" type="text/css" media="screen" href="~/Asset/shopping-cart/style/cart-form.css" />

<script src="~/Asset/shopping-cart/script/remove.js"></script>
<div class="body">
    <div class="your-cart">
        <img src="https://mbtskoudsalg.com/images/shop-button-png-4.png">
        Shopping cart
    </div>
    <div class="products_wrapper">
        <div class="products">

            <div class="picture"><img src="~/Asset/shopping-cart/Images/pubg.jpg" /></div>
            <div class="information">
                <div class=product-name>PlayerUnknow's Battlegrounds</div>

                <div class=product-price>$19.99</div>
                <div class=product-quantity>
                    Quantity:
                    <select>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                    </select>
                </div>
                <a href="#" class="remove-btn">Remove</a>
            </div>
        </div>
        <div class="products">
            <div class="picture"><img src="~/Asset/shopping-cart/Images/ghost-recon.jpg"></div>
            <div class="information">
                <div class=product-name>Ghost Recon® Wildlands</div>

                <div class=product-price>$11.99</div>
                <div class=product-quantity>
                    Quantity:
                    <select>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                    </select>
                </div>
                <a href="#" class="remove-btn">Remove</a>
            </div>
        </div>
        <div class="products">
            <div class="picture"><img src="~/Asset/shopping-cart/Images/csgo.png"></div>
            <div class="information">
                <div class=product-name>Counter Strike: Global Offensive </div>

                <div class=product-price>$7.50</div>
                <div class=product-quantity>
                    Quantity:
                    <select>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                    </select>
                </div>
                <a href="#" class="remove-btn">Remove</a>
            </div>
        </div>
    </div>

    <div class="summary">
        <div class="subtotal">
            <div class="subtotal-left">Subtotal</div>
            <div class="subtotal-right">$39.48</div>
        </div>
        <div class="discount">
            <div class="discount-left">Discount &#9660;</div>
            <div class="discount-right"> <a>Do you have any promotion code ? </a> </div>
            <div class="description">
                <form>
                    <input id="discount-text" type="text">
                    <button type="button" id="discount-button">Enter</button>
                    <div class="pull-right"> 15% </div>
                </form>
            </div>
        </div>
        <div class="total">
            <div class="total-left">Total</div>
            <div class="total-right">$39.48</div>
        </div>
        <div class="checkout">
            <button class="checkout-button">Go to checkout</button>
        </div>
    </div>
</div>

