
@{
    ViewBag.Title = "Stream";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="body">
    <div class="title-cate">
        <img src="~/Asset/Images/steam-logo.png">
        Steam Games
    </div>

    <div class="list-wrapper">
        <a class="list" href="../product/ARK Survival Evolved.html">
            <div class="pic"><img src="~/Asset//product/images/ark.jpg"></div>
            <div class="info">
                <div class="pro-name">ARK Survival Evolved</div>
                <div class="pro-price">49.99$</div>
            </div>
            <div class="buy-now-btn"><img src="~/Asset/Images/e3.png"> VIEW MORE</div>
        </a>
    </div>
    <div class="list-wrapper">
        <a class="list" href="../product/GTA_V.html">
            <div class="pic"><img src="~/Asset//product/images/gtav.jpg"></div>
            <div class="info">
                <div class="pro-name">Grand Theft Auto V</div>
                <div class="pro-price">29.99$</div>
            </div>
            <div class="buy-now-btn"><img src="~/Asset/Images/e3.png"> VIEW MORE</div>
        </a>
    </div>
    <div class="list-wrapper">
        <a class="list" href="../product/God of War (2018).html">
            <div class="pic"><img src="~/Asset/Images/gow.jpg"></div>
            <div class="info">
                <div class="pro-name">God of War (2018)</div>
                <div class="pro-price">39.99$</div>
            </div>
            <div class="buy-now-btn"><img src="~/Asset/Images/e3.png"> VIEW MORE</div>
        </a>
    </div>
    <div class="list-wrapper">
        <a class="list" href="../product/Counter-Strike Global Offensive.html">
            <div class="pic"><img src="~/Asset/product/images/csgo.png"></div>
            <div class="info">
                <div class="pro-name">Counter-Strike Global Offensive</div>
                <div class="pro-price">7.09$</div>
            </div>
            <div class="buy-now-btn"><img src="~/Asset/Images/e3.png"> VIEW MORE</div>

        </a>
    </div>
    <div class="list-wrapper">
        <a class="list" href="../product/PlayerUnknown's Battlegrounds.html">
            <div class="pic"><img src="~/Asset/product/images/pubg.jpg"></div>
            <div class="info">
                <div class="pro-name">PlayerUnknown's Battlegrounds</div>
                <div class="pro-price">14.62$</div>
            </div>
            <div class="buy-now-btn"><img src="~/Asset/Images/e3.png"> VIEW MORE</div>
        </a>
    </div>
    <div class="bottom-cate">
        <a href="#" class="button">PRE PAGE</a>
        <a href="#" class="button">NEXT PAGE</a>
    </div>
</div>