
@{
    ViewBag.Title = "Topselling";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="body">
    <div class="title-cate">
        <i class="fa fa-shopping-basket" aria-hidden="true"></i>
        Top Selling Games
    </div>
    <div class="list-wrapper">
        <a class="list" href="../product/GTA_V.html">
            <div class="pic"><img src="https://vnreview.vn/image/77/90/779059.jpg"></div>
            <div class="info">
                <div class="pro-name">Grand Theft Auto V</div>
                <div class="pro-price">$39.90$</div>
            </div>
            <div class="buy-now-btn"><img src="Images/e3.png"> VIEW MORE</div>
        </a>
    </div>
    <div class="list-wrapper">
        <a class="list" href="../product/Battlefield 1.html">
            <div class="pic"><img src="https://upload.wikimedia.org/wikipedia/en/thumb/f/fc/Battlefield_1_cover_art.jpg/220px-Battlefield_1_cover_art.jpg"></div>
            <div class="info">
                <div class="pro-name">Battlefield 1</div>
                <div class="pro-price">6.99$</div>
            </div>
            <div class="buy-now-btn"><img src="Images/e3.png"> VIEW MORE</div>
        </a>
    </div>
    <div class="list-wrapper">
        <a class="list" href="../product/Assassin's Creed Odyssey.html">
            <div class="pic"><img src="https://upload.wikimedia.org/wikipedia/vi/thumb/9/99/ACOdysseyCoverArt.png/275px-ACOdysseyCoverArt.png"></div>
            <div class="info">
                <div class="pro-name">Assassin's Creed Odyssey</div>
                <div class="pro-price">59.99$</div>
            </div>
            <div class="buy-now-btn"><img src="Images/e3.png"> VIEW MORE</div>
        </a>
    </div>
    <div class="list-wrapper">
        <a class="list" href="../product/Counter-Strike Global Offensive.html">
            <div class="pic"><img src="https://production-gameflipusercontent.fingershock.com/us-east-1:3fb8ba2e-587c-4174-befe-4249b9780065/a4d6e759-3c75-40e9-bfb4-3ed3f3f04a32/fd5d4246-04d6-4e41-bb22-8a0cd1125bab"></div>
            <div class="info">
                <div class="pro-name">Counter Strike: Global Offensive</div>
                <div class="pro-price">14.99$</div>
            </div>
            <div class="buy-now-btn"><img src="Images/e3.png"> VIEW MORE</div>

        </a>
    </div>
    <div class="list-wrapper">
        <a class="list" href="../product/ARK Survival Evolved.html">
            <div class="pic"><img src="https://store.playstation.com/store/api/chihiro/00_09_000/container/US/en/999/UP0691-CUSA06676_00-ARKSEGAME0000000/1543338458000/image?w=240&h=240&bg_color=000000&opacity=100&_version=00_09_000"></div>
            <div class="info">
                <div class="pro-name">ARK: Survival Evolved</div>
                <div class="pro-price">49.99$</div>
            </div>
            <div class="buy-now-btn"><img src="Images/e3.png"> VIEW MORE</div>
        </a>
    </div>
    <div class="bottom-cate">
        <a href="#" class="button">PRE PAGE</a>
        <a href="#" class="button">NEXT PAGE</a>
    </div>
</div>

